* {
  box-sizing: border-box;
    
}



html {
  min-height: 100%;
}

.answerBlock {
  margin: 3% auto;
}

body {
  font-size: 30px;
  margin: 0;
  min-height: 100%;
  font-family: 'Muli', sans-serif;
}

button {
  font-family: 'Rasa', serif;
  border-radius: 13px;
  border: 1px solid black;
  padding: 3%;
  font-size: inherit;
  margin: 15% auto;
  display: block;
  background-color: gray;

-webkit-box-shadow: 2px 4px 8px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    2px 4px 8px rgba(50, 50, 50, 0.75);
box-shadow:         2px 4px 8px rgba(50, 50, 50, 0.75);

}


.center {
    text-align: center;

}

.centerdisplay {
  width: 66%;
  margin: 0 auto;
}

.correct {
  border: 5px solid #5cb85c;
  background-color: #5cb85c;
  height: 70%;
  border: 1px solid black;
  width: 66%;
  margin: auto auto;
  padding: 5%;
}

.explain {
  font-size: .75em;
  text-align: right;
}

footer  {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.5em;
  padding: 1%;
}

footer nav {
  margin: 0 auto;
}


footer nav ul {
  padding: 0;
  margin-top: 1%;
}

footer li {
  display: inline;
   list-style-type: none;
   margin: 5%;
}



header {
   border: 3px solid black;
  width: 100%;
  margin: 0 auto;
  padding: 5px;


}

input[type=button] {
  display: inline;
 }

main {
width: 100%;
height: 100%;
background-image: url("/images/cathedral.jpg");
background-repeat: no-repeat;
background-size: cover;
padding: 5%;
}


.question-section {
  height: 70%;
/* background-color: #525252; */
background-color: rgb(221, 221, 221);

border: 1px solid black;
opacity: 0.8;
filter: alpha(opacity=60); /* For IE8 and earlier */
width: 66%;
margin: auto auto;
padding: 5%;
}

/* .regular {
  padding: 15%;
} */

.results {
  width: 66%;
  margin: 0 auto;
}

#word {
  border-radius: 13px;
    border: 3px solid;
    padding: 3%;
    font-family: 'Merriweather', serif;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

#word:before {
  content: open-quote;
}

#word:after {
  content: close-quote;
}

.wrong {
  background-color: #d9534f;
  border: 5px solid #d9534f;
  height: 70%;
  border: 1px solid black;
  width: 66%;
  margin: auto auto;
  padding: 5%;
}

/*COLORS*/



.submit {
  background-color: #428bca;
  color: white;
}

input[type=text] {
  background-color: #EDEDED;
}

footer {
  font-family: 'Rasa', serif;
  font-size: 1em;
  background-color: #838383;
}

footer a {
  color: black;
}

header {
  font-family: 'Cormorant SC', serif;
  background-color: #b4b4b4;
  border: #838383;
  font-size: 4em;
}

#word {
  border-color: #5cb85c;
}